.emp_table{
display: flex;
flex-direction: column;
gap: 20px;
margin: 20px 0;
}
.eOtTIX{
    background: #000000 !important;
    color: #ffffff !important;
}
.eBYPLT{
    font-size: 15px !important;
    font-weight: 500 !important;
}
.action_btn{
    display: flex;
    gap: 8px;
}
.edit_btn {
    border-radius: 4px;
    padding: 4px;
    width: 78px;
    height: 38px;
    
}
.del_btn {
    border-radius: 4px;
    padding: 4px;
    width: 78px;
    height: 38px;
   
}
/* ----------addemp--------- */
.label_text{
    font-size: 15px;
}
.dept{
    width: 100%;
    height: 40px;
}
.eye_icon_btn{
display: flex;
}
.detail_side_heading{
    display: flex;
    gap:2px;
}
.detail_side_heading:hover{
    color: aquamarine;
}
.status_check{
    display: flex;
    gap:4px;
    align-items: center;
}
.form-control.checkbox_status {
    width: 0 !important;
  }

